body
{
	padding: 70px;
}

.title
{
	font-size: 90px;
	margin:0;
}

.table th, .table td
{
	padding: 10px;
	font-size: 20px;
	font-weight: 500;
}

.table th
{
	font-weight: normal;
	font-size: 15px;
	color: #666;
}

.menu li
{
	list-style: none;
	float: left;
	padding: 10px;
	
	font-size: 20px;
	
	font-weight: 600;
	
	color: #ccc;
}

.menu li:HOVER
{
	color: #000;
}