<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE"/>

<script type="text/javascript" src="/ximpl"></script>
<script type="text/javascript" src="@{index.js}"></script>
<link rel="stylesheet" type="text/css" href="@{index.css}" />

<title>Title</title>
</head>

<body data-component="test">
	<header>
		<h1 class="title">Title</h1>
	</header>
	<div style="padding: 50px; width: 500px; float: left;">
		<div>
			<small>previous</small>
			<span style="font-size: 20px; font-weight: bold;">Text</span>
			<h2 style="margin:0; font-size: 60px; color:red;">+26447742</h2>
		</div>
		<div>
			<div style="margin-top: 50px;">
				<p style="font-size: 30px; font-weight: bold; margin:0;">Name</p>
				<p><small style="color: #666;">라벨</small> <span style="font-weight: bold; font-size: 20px;">value</span></p>
				<p><small style="color: #666;">라벨</small> <span style="font-weight: bold; font-size: 20px;">value</span></p>
				<p><small style="color: #666;">라벨</small> <span style="font-weight: bold; font-size: 20px;">value</span></p>
				<p>img src</p>
			</div>
			<div style="margin-top: 50px;">
				<p style="font-size: 30px; font-weight: bold; margin:0;">Name</p>
				<p><small style="color: #666;">라벨</small> <span style="font-weight: bold; font-size: 20px;">value</span></p>
				<p><small style="color: #666;">라벨</small> <span style="font-weight: bold; font-size: 20px;">value</span></p>
				<p><small style="color: #666;">라벨</small> <span style="font-weight: bold; font-size: 20px;">value</span></p>
				<p>img src</p>
			</div>
			<div style="margin-top: 50px;">
				<p style="font-size: 30px; font-weight: bold; margin:0;">Name</p>
				<p><small style="color: #666;">라벨</small> <span style="font-weight: bold; font-size: 20px;">value</span></p>
				<p><small style="color: #666;">라벨</small> <span style="font-weight: bold; font-size: 20px;">value</span></p>
				<p><small style="color: #666;">라벨</small> <span style="font-weight: bold; font-size: 20px;">value</span></p>
				<p>img src</p>
			</div>
		</div>
	</div>
	<div style="float: left; padding: 50px; width: 800px;">
		<table class="table" style="width:100%">
			<colgroup>
				<col style="width: 20%;"/>
				<col style="width: 40%;"/>
				<col style="width: 20%;"/>
				<col style="width: 20%;"/>
			</colgroup>
			<tbody>
				<tr>
					<th>Number</th>
					<th>First Name</th>
					<th>Last Name</th>		
					<th>Points</th>
				</tr>
				<tr>
					<td>1</td>
					<td>Eve</td>
					<td>Jackson</td>		
					<td>94</td>
				</tr>
				<tr>
					<td>2</td>
					<td>John</td>
					<td>Doe</td>		
					<td>80</td>
				</tr>
				<tr>
					<td>3</td>
					<td>Adam</td>
					<td>Johnson</td>		
					<td>67</td>
				</tr>
				<tr>
					<td>4</td>
					<td>Jill</td>
					<td>Smith</td>		
					<td>50</td>
				</tr>
			</tbody>
		</table>
		<div style="text-align: center; margin-top: 10px;">
			<span style="font-weight: bold;">1</span>
			<span>2</span>
			<span>3</span>
		</div>
	</div>
</body>

</html>