<div style="float: left; padding: 50px; width: 800px;">
	<table class="table" style="width:100%">
		<colgroup>
			<col style="width: 20%;"/>
			<col style="width: 40%;"/>
			<col style="width: 20%;"/>
			<col style="width: 20%;"/>
		</colgroup>
		<tbody>
			<tr>
				<th>Number</th>
				<th>First Name</th>
				<th>Last Name</th>		
				<th>Points</th>
			</tr>
			<tr>
				<td>1</td>
				<td>Eve</td>
				<td>Jackson</td>		
				<td>94</td>
			</tr>
			<tr>
				<td>2</td>
				<td>John</td>
				<td>Doe</td>		
				<td>80</td>
			</tr>
			<tr>
				<td>3</td>
				<td>Adam</td>
				<td>Johnson</td>		
				<td>67</td>
			</tr>
			<tr>
				<td>4</td>
				<td>Jill</td>
				<td>Smith</td>		
				<td>50</td>
			</tr>
		</tbody>
	</table>
	<div style="text-align: center; margin-top: 10px;">
		<span style="font-weight: bold;">1</span>
		<span>2</span>
		<span>3</span>
	</div>
</div>