<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE"/>

<script type="text/javascript" src="@{libs/ximpl.js}"></script>


<script type="text/javascript" src="@{js/index.js}"></script>
<link rel="stylesheet" type="text/css" href="@{css/index.css}" />

<title>Title</title>
</head>

<body>
	<div id="example">
		<h3>ㅎㅎㅎ</h3>
		
		<div id="ttt"></div>
	</div>
	<header>
		<h1 class="title">Title</h1>
		<div>
			<ul class="menu">
				<li><a>menu1</a></li>
				<li><a>menu1</a></li>
				<li><a>menu1</a></li>
			</ul>
		</div>
	</header>
	${#{1}.html}
</body>

</html>