<div style="padding: 50px;" id="main-content">
	<div>
		<small>previous</small>
		<span style="font-size: 20px; font-weight: bold;">Text</span>
		<h2 style="margin:0; font-size: 60px; color:red;">+26447742</h2>
	</div>
	<div>
		<div style="margin-top: 50px;">
			<p style="font-size: 30px; font-weight: bold; margin:0;">Name</p>
			<p><small style="color: #666;">라벨</small> <span style="font-weight: bold; font-size: 20px;">value</span></p>
			<p><small style="color: #666;">라벨</small> <span style="font-weight: bold; font-size: 20px;">value</span></p>
			<p><small style="color: #666;">라벨</small> <span style="font-weight: bold; font-size: 20px;">value</span></p>
			<p>img src</p>
		</div>
		<div style="margin-top: 50px;">
			<p style="font-size: 30px; font-weight: bold; margin:0;">Name</p>
			<p><small style="color: #666;">라벨</small> <span style="font-weight: bold; font-size: 20px;">value</span></p>
			<p><small style="color: #666;">라벨</small> <span style="font-weight: bold; font-size: 20px;">value</span></p>
			<p><small style="color: #666;">라벨</small> <span style="font-weight: bold; font-size: 20px;">value</span></p>
			<p>img src</p>
		</div>
		<div style="margin-top: 50px;">
			<p style="font-size: 30px; font-weight: bold; margin:0;">Name</p>
			<p><small style="color: #666;">라벨</small> <span style="font-weight: bold; font-size: 20px;">value</span></p>
			<p><small style="color: #666;">라벨</small> <span style="font-weight: bold; font-size: 20px;">value</span></p>
			<p><small style="color: #666;">라벨</small> <span style="font-weight: bold; font-size: 20px;">value</span></p>
			<p>img src</p>
		</div>
	</div>
</div>