.App
{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    display: none;
}

.Header, .Footer
{
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    height: 40px;
    background-color: #f7f7f7;
}

.Header
{
    top: 0;
}

.Header > span, .Footer > span
{
    flex: 1;
    text-align: center;
    padding: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Footer
{
    bottom: 0;
}

.Header .AppTitle
{
    flex: 3;
}

.AppView
{
    position: fixed;
    left: 0;
    right: 0;
    top: 40px;
    bottom: 40px;
}

.View
{
    position: absolute;
    right: 0;
    width: 100%;
    top: 0;
    bottom: 0;

    overflow: auto;
}

.Header
{
    border-bottom: 1px solid #ddd;
}

.Footer
{
    border-top: 1px solid #ddd;
}